{% extends "layout.html" %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">  
                    <h1 class="page-title">26 classes a week</h1>
                    <h2 class="page-subtitle">
                        The more you practice, the more you benefit<br>
                    </h2>
                </div>
            </div>
        </div>
        
        <div class="section-wrapper">
            <section class="class-table container page-section past">
                <div class="row">
                    <div class="col-sm-12">   
                        <h2 class="section-title"><strong>Winter Class Schedule</strong></h2>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Monday</strong> <span>22 JUNE</span></h3></li>
                                    <li>
                                        <span class="class-time">06:00 - <strong>07:00</strong> <span>(1 hour)</span></span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">12:00</span>
                                        <span class="class-teacher pull-right">Annelies</span>
                                    </li>
                                    <li>
                                        <span class="class-time">17:30 <span>(New time)</span></span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Tuesday</strong> <span>23 JUNE</span></h3></li>
                                    <li>
                                        <span class="class-time">06:00 - <strong>07:00</strong> <span>(1 hour)</span></span>
                                        <span class="class-teacher pull-right">Annelies</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Annelies</span>
                                    </li>
                                    <li>
                                        <span class="class-time">17:30 <span>(New time)</span></span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Wednesday</strong> <span>24 JUNE</span></h3></li>
                                    <li>
                                        <span class="class-time">06:00 - <strong>07:00</strong> <span>(1 hour)</span></span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">12:00</span>
                                        <span class="class-teacher pull-right">Catherine</span>
                                    </li>
                                    <li>
                                        <span class="class-time">17:30 <span>(New time)</span></span>
                                        <span class="class-teacher pull-right">Anneliese</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Thursday</strong> <span>25 JUNE</span></h3></li>
                                    <li>
                                        <span class="class-time">06:00 - <strong>07:00</strong> <span>(1 hour)</span></span>
                                        <span class="class-teacher pull-right">Melissa</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Melissa</span>
                                    </li>
                                    <li>
                                        <span class="class-time">17:30 <span>(New time)</span></span>
                                        <span class="class-teacher pull-right">Zoe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Friday</strong> <span>26 JUNE</span></h3></li>
                                    <li>
                                        <span class="class-time">06:00 - <strong>07:00</strong> <span>(1 hour)</span></span>
                                        <span class="class-teacher pull-right">Annelies</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Annelies</span>
                                    </li>
                                    <li>
                                        <span class="class-time">12:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:30</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Saturday</strong> <span>27 JUNE</span></h3></li>
                                    <li>
                                        <span class="class-time">06:30</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">08:30</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Sunday</strong> <span>28 JUNE</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">17:00</span>
                                        <span class="class-teacher pull-right">Bridget</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Monday</strong> <span>29 JUNE</span></h3></li>
                                    <li>
                                        <span class="class-time">06:00 - <strong>07:00</strong> <span>(1 hour)</span></span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">12:00</span>
                                        <span class="class-teacher pull-right">Annelies</span>
                                    </li>
                                    <li>
                                        <span class="class-time">17:30 <span>(New time)</span></span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Tuesday</strong> <span>30 JUNE</span></h3></li>
                                    <li>
                                        <span class="class-time">06:00 - <strong>07:00</strong> <span>(1 hour)</span></span>
                                        <span class="class-teacher pull-right">Annelies</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Annelies</span>
                                    </li>
                                    <li>
                                        <span class="class-time">17:30 <span>(New time)</span></span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                </ul>
                            </div>    
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="container page-section hidden">
            <div class="row">

                <div class="col-sm-12">
                    <div class="schedule-img-wrapper">
                        <img src="/img/schedule.jpg" class="img-responsive" />
                    </div>
                    <!--
                    <p>We offer 26 classes a week. <a href="#">View the full schedule</a></p>
                    -->
                    <hr>
                </div>
            </div>
        </section>
{% endblock %}