{% extends "layout.html" %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title">16 classes a week</h1>
                    <h2 class="page-subtitle">
                        The more you practice, the more you benefit.
                    </h2>
                </div>
            </div>
        </div>

        <div class="section-wrapper">
            <section class="class-table container page-section past">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="section-title"><strong>Class Schedule</strong></h2>
                        <h3 style="padding-top: 2.5rem; text-align: center; font-size: 1.6rem; text-transform: uppercase; font-weight: bold"> *6am classes are by booking only.</h3>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Monday</strong> <span>2 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30 (1 Hour)</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00 (Fusion)</span>
                                        <span class="class-teacher pull-right">Melissa</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Zoe</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Tuesday</strong> <span>3 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Zoe</span>
                                    </li>
                                </ul>

                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Wednesday</strong> <span>4 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30 (1 Hour)</span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Thursday</strong> <span>5 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Friday</strong> <span>6 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45 (1 Hour)</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Saturday</strong> <span>7 October</span></h3></li>
                                    <li>
                                        <span class="class-time">07:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Sunday</strong> <span>8 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Monday</strong> <span>9 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30 (1 Hour)</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00 (Fusion)</span>
                                        <span class="class-teacher pull-right">Melissa</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Zoe</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Bridget</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Tuesday</strong> <span>10 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Bridget</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>

                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Wednesday</strong> <span>11 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30 </span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Thursday</strong> <span>12 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Friday</strong> <span>13 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30 (1 hour)</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00 </span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45 (1 hour)</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Saturday</strong> <span>14 October</span></h3></li>
                                    <li>
                                        <span class="class-time">07:00</span>
                                        <span class="class-teacher pull-right">Leslie</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00 (Flow)</span>
                                        <span class="class-teacher pull-right">Lauren</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Sunday</strong> <span>15 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Monday</strong> <span>16 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00 (Fusion)</span>
                                        <span class="class-teacher pull-right">Melissa</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Zoe</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Bridget</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Tuesday</strong> <span>17 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Bridget</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Wednesday</strong> <span>18 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30</span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Zoe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Thursday</strong> <span>19 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Friday</strong> <span>20 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45 (1 Hour)</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Saturday</strong> <span>21 October</span></h3></li>
                                    <li>
                                        <span class="class-time">07:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00 (Flow)</span>
                                        <span class="class-teacher pull-right">Tawana</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Sunday</strong> <span>22 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Monday</strong> <span>23 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30 </span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00 (Fusion)</span>
                                        <span class="class-teacher pull-right">Melissa</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Zoe</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Bridget</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Tuesday</strong> <span>24 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Bridget</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Wednesday</strong> <span>25 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30</span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Zoe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Thursday</strong> <span>26 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Friday</strong> <span>27 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45 (1 Hour)</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Saturday</strong> <span>28 October</span></h3></li>
                                    <li>
                                        <span class="class-time">07:00</span>
                                        <span class="class-teacher pull-right">Leslie</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Sunday</strong> <span>29 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Monday</strong> <span>30 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30 </span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Melissa</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Zoe</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Bridget</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Tuesday</strong> <span>31 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45</span>
                                        <span class="class-teacher pull-right">Farai</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Zoe</span>
                                    </li>
                                </ul>
                                <!-- <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Wednesday</strong> <span>27 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Zoe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Thursday</strong> <span>28 October</span></h3></li>
                                    <li>
                                        <span class="class-time">09:00 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                    <li>
                                        <span class="class-time">18:30</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Friday</strong> <span>29 October</span></h3></li>
                                    <li>
                                        <span class="class-time">05:30</span>
                                        <span class="class-teacher pull-right">Refiloe</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">16:45 (1 Hour)</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                </ul>
                                <ul class="class-list list-unstyled">
                                    <li class="class-date"><h3><strong>Saturday</strong> <span>30 October</span></h3></li>
                                    <li>
                                        <span class="class-time">07:00</span>
                                        <span class="class-teacher pull-right">Pebetsi</span>
                                    </li>
                                    <li>
                                        <span class="class-time">09:00 (Flow)</span>
                                        <span class="class-teacher pull-right">Nozipho</span>
                                    </li>
                                </ul> -->
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </section>
        </div>
        <section class="container page-section hidden">
            <div class="row">
                <div class="col-sm-12">
                    <div class="schedule-img-wrapper">
                        <img src="/img/schedule.jpg" class="img-responsive" />
                    </div>
                    <!--
                    <p>We offer 26 classes a week. <a href="#">View the full schedule</a></p>
                    -->
                    <hr>
                </div>
            </div>
        </section>
{% endblock %}
