{% extends "layout.html" %}
{% block content %}
      <div class="container">
          <div class="row">
            <div class="col-md-12">  
              <h1 class="page-title">26 classes a week</h1>
              <h2 class="page-subtitle">
                  Practice 3 times a week to maintain<br>
                  Practice 5 times a week to become a goddess
              </h2>
              </div>
          </div>
      </div>
        <section id="class-table" class="container page-section">
            <div class="row">
                <div class="col-sm-12">   
                    <table class="class-table-weekly table">
                        <thead>
                            <tr>
                                <th class="table-week">This week</th>
                                <th>Mon <span>24<span></th>
                                <th>Tue <span>25</span></th>
                                <th>Wed <span>26</span></th>
                                <th>Thu <span>27</span></th>
                                <th>Fri <span>28</span></th>
                                <th>Sat <span>29</span></th>
                                <th>Sun <span>30</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="table-class-time">05:30</th>
                                <td>-</td>
                                <td>Annelies</td>
                                <td>Farai </td>
                                <td>Melissa</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th class="table-class-time">06:30</th>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>Annelies</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="table-class-time">08:30</th>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>Annelies</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th class="table-class-time">09:00</th>
                                <td>Neil</td>
                                <td>Annelies</td>
                                <td>Leslie</td>
                                <td>Melissa</td>
                                <td>Pebetsi</td>
                                <td>-</td>
                                <td>Farai</td>
                            </tr>
                            <tr>
                                <th class="table-class-time">12:00</th>
                                <td>-</td>
                                <td>-</td>
                                <td>Catherine</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th class="table-class-time">16:30</th>
                                <td>-</td>
                                <td>Farai</td>
                                <td>Annelies</td>
                                <td>Zoe</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th class="table-class-time">18:30</th>
                                <td>-</td>
                                <td>Farai</td>
                                <td>Annelies</td>
                                <td>Bridget</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="container page-section">
            <div class="row">

                <div class="col-sm-12">
                    <div class="schedule-img-wrapper">
                        <img src="/img/schedule.jpg" />
                    </div>
                    <p>We offer 26 classes a week. <a href="#">View the full schedule</a></p>
                    <hr>
                </div>
            </div>
        </section>
{% endblock %}