{% extends "layout.html" %}
{% block content %}
      	<div class="container">
          	<div class="row">
            	<div class="col-md-12">
              		<h1 class="page-title">We're now in Pineslopes</h1>
                    <h2 class="page-subtitle">
                        Above the Old School Gym near Steamworks<br>
                    </h2>
              	</div>
          	</div>
      	</div>
        <section id="contact-details" class="container page-section">
            <div class="row">
                <div class="col-md-12">
		            <div class="row">
		                <div class="col-sm-5 col-sm-offset-1">
		                    <h2 class="section-title">Get in touch</h2>
		                    <p>
                          <a href="mailto:pebetsi@bikramyoga4ways.co.za">pebetsi@bikramyoga4ways.co.za</a><br>
                          <a href"mailto:info@bikramyoga4ways.co.za">info@bikramyoga4ways.co.za</a><br>
            							Phone: <a href="tel:+27713948408">071 394 8408</a><br>
            							Fax: <a href="fax:+27114656777">011 465 6777</a>
            						</p>
		                </div>
		                <div class="col-sm-5">
		                    <h2 class="section-title">Come and visit</h2>
		                    <p>Bikram Yoga Fourways<br>
            							Forest Rd. Decor &amp; Design Centre<br>
            							Corner Sunset Boulevard and Forest Road<br>
            							Pineslopes
          							</p>
		                </div>
		            </div>
                    <hr>
                </div>
            </div>
        </section>
        <section id="maps" class="container page-section">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img/map-studio-gmaps.png" />
                    <img src="/img/map-studio-outside.png" />
                    <hr>
                </div>
            </div>
        </section>
{% endblock %}
