{% extends "layout.html" %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">  
                    <p class="next-class">Next class is at <a href="#">16:30 with Pebetsi</a></p>
                </div>
            </div>
        </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- 
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>


  <div class="carousel-inner" role="listbox">
    <div class="item active">
      
                <div class="col-md-12">  
                    <h1 class="page-title">Feel fitter, stronger and healthier</h1>
                    <h2 class="page-subtitle">
                        With the original Bikram Hot Yoga in Fourways<br>
                        <span><strong>26</strong> Positions</span> <span><strong>40&deg;</strong> Celcius</span> <span><strong>90</strong> minutes</span>
                        
                    </h2>
                    <div class="hero-img-wrapper">
                        <img src="/img/duo-half-moon.png" />
                    </div>
                    <p class="hero-offer"><small>Introductory offer:</small> R220 for 10 consecutive days (save 80%)</p>
                </div>
                <div class="col-sm-12">
                    <p>We offer 26 classes a week. <a href="/packages-and-prices">View the full schedule</a></p>
                    <hr>
                </div>
    </div>
    <div class="item">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>


  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
-->
        <section class="container">
            <div class="row">
                <div class="col-md-12">  
                    <h1 class="page-title">Feel fitter, stronger and healthier</h1>
                    <h2 class="page-subtitle">
                        With the original Bikram Hot Yoga in Fourways<br>
                        <span><strong>26</strong> Positions</span> <span><strong>40&deg;</strong> Celcius</span> <span><strong>90</strong> minutes</span>
                        
                    </h2>
                    <div class="hero-img-wrapper">
                        <img src="/img/duo-half-moon.png" />
                    </div>
                    <p class="hero-offer"><small>Introductory offer:</small> R220 for 10 consecutive days (save 80%)</p>
                </div>
                <div class="col-sm-12">
                    <p>We offer 26 classes a week. <a href="/packages-and-prices">View the full schedule</a></p>
                    <hr>
                </div>
            </div>
        </section>
        <!--<section id="wdgt-classes" class="container page-section">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">  
                    <h2 class="section-title">Today's classes</h2>
                    <ul class="list-unstyled">
                        <li>05:30 - 07:00 with Pebetsi </li>
                        <li>05:30 - 07:00 with Pebetsi </li>
                        <li>05:30 - 07:00 with Pebetsi </li>
                        <li>05:30 - 07:00 with Pebetsi </li>
                        <li>05:30 - 07:00 with Pebetsi </li>
                    </ul>
                </div>
                <div class="col-sm-4">  
                    <h2 class="section-title">Tomorrow's classes</h2>
                    <ul class="list-unstyled">
                        <li>05:30 - 07:00 with Pebetsi </li>
                        <li>05:30 - 07:00 with Pebetsi </li>
                        <li>05:30 - 07:00 with Pebetsi </li>
                        <li>05:30 - 07:00 with Pebetsi </li>
                        <li>05:30 - 07:00 with Pebetsi </li>
                    </ul>
                </div>
            </div>
        </section>
        -->
        <section id="certification" class="container page-section">
            <div class="row">
                <div class="col-md-12">  
                    <img src="/img/certification.jpg" />
                    <!--<p>The original &amp; only studio in SA <br>
                        certified by the <br>
                        Bikram Yoga College of India
                    </p>-->
                    <hr>
                </div>
            </div>
        </section>
        <section class="container page-section">
            <div class="row">
                <div class="col-md-12">  
                    <h2 class="section-title">40°C for 90 minutes</h2>
                    <h2 class="section-subtitle">Prepare to stretch. And sweat.</h2>
                    
                    <div class="hero-img-wrapper">
                        <img src="/img/awkward-trio.png" />
                    </div>
                    <p>The heat allows for safe and deep stretching while simultaneously flushing and detoxifying every single system of the body, from bones to skin, inside and out. Prepare to sweat. Working in a heated room will raise your heart rate, which makes the body work harder. In the safe environment of a heated room you can relieve your body resistance without risking injury.</p>
                    <hr>
                </div>
            </div>
        </section>
        <section class="container page-section">
            <div class="row">
                <div class="col-md-12">  
                    <h2 class="section-title">26 Positions (asanas)</h2>
                    <h2 class="section-subtitle">Great for beginners and experts</h2>
                    
                    <div class="hero-img-wrapper">
                        <img src="/img/duo-half-moon.png" />
                    </div>
                    <p>The heat allows for safe and deep stretching while simultaneously flushing and detoxifying every single system of the body, from bones to skin, inside and out. Prepare to sweat. Working in a heated room will raise your heart rate, which makes the body work harder. In the safe environment of a heated room you can relieve your body resistance without risking injury.</p>
                    <hr>
                </div>
            </div>
        </section>
        <section class="container page-section">
            <div class="row">
                <div class="col-md-12">  
                    <h2 class="section-title">Sizzling Studio</h2>
                    <h2 class="section-subtitle">We're using infra-red heaters</h2>
                    
                    <div class="hero-img-wrapper">
                        <img src="/img/heater.jpg" />
                    </div>
                    <p>Eco friendly, no dirty air, requires less energy, heats the body from inside out....benefits of the sun without risk of damaging your skin.</p>
                    <hr>
                </div>
            </div>
        </section>
        <section id="teachers" class="container page-section">
            <div class="row">
                <div class="col-md-12">  
                    <h2 class="section-title">Our Teachers</h2>
                    <h2 class="section-subtitle">&nbsp;</h2>
                    <div class="row">
                        <div class="col-sm-4 teacher-detail">
                            <img src="/img/teacher-pebetsi.jpg" />
                            <h4>Pebetsi</h4>
                            <p>The heat allows for safe and deep stretching while simultaneously flushing and detoxifying every single system of the body, from bones to skin, inside and out.</p>
                        </div>
                        <div class="col-sm-4 teacher-detail">
                            <img src="/img/teacher-pebetsi.jpg" />
                            <h4>Farai</h4>
                            <p>The heat allows for safe and deep stretching while simultaneously flushing and detoxifying every single system of the body, from bones to skin, inside and out.</p>
                        </div>
                        <div class="col-sm-4 teacher-detail">
                            <img src="/img/teacher-shereeze.jpg" />
                            <h4>Shereeze</h4>
                            <p>The heat allows for safe and deep stretching while simultaneously flushing and detoxifying every single system of the body, from bones to skin, inside and out.</p>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-sm-4 teacher-detail">
                            <img src="/img/teacher-bridget.jpg" />
                            <h4>Bridget</h4>
                            <p>The heat allows for safe and deep stretching while simultaneously flushing and detoxifying every single system of the body, from bones to skin, inside and out.</p>
                        </div>
                        <div class="col-sm-4 teacher-detail">
                            <img src="/img/teacher-pebetsi.jpg" />
                            <h4>Melissa</h4>
                            <p>The heat allows for safe and deep stretching while simultaneously flushing and detoxifying every single system of the body, from bones to skin, inside and out.</p>
                        </div>
                        <div class="col-sm-4 teacher-detail">
                            <img src="/img/teacher-pebetsi.jpg" />
                            <h4>Catherine</h4>
                            <p>The heat allows for safe and deep stretching while simultaneously flushing and detoxifying every single system of the body, from bones to skin, inside and out.</p>
                        </div>
                    </div> 
                    <hr>
                </div>
            </div>
        </section>
{% endblock %}


{% block 0_content %}
      <section class="container page-section">
          <div class="row">
            <div class="col-md-12">  
              <h2 class="section-title">26 Postures (for all skill levels)</h2>
              <p>You do not need to be an expert. Bikram's Therapeutic Hatha/Raja Yoga is a series of 26 yoga postures and breathing exercises taught in a 90 minute class. Each pose is a challenge based your personal abilities. By the end of a class, you'll have worked every muscle, tendon, joint, ligament, internal organ, and gland while systematically moving fresh, oxygenated blood to 100% of the body. The result is restoration of health to all systems.</p>
            </div>
          </div>
      </section>
      <section class="container page-section">
          <div class="row">
            <div class="col-md-12">  
              <h2 class="section-title">10 tips for your first class</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6  col-sm-6 ">  
              <ul class="list-unstyled home-tips">
                <li>1. No bookings needed, just drop in</li>
                <li>2. Choose from <a href="/classes-fees">26 classes a week</a></li>
                <li>3. All levels of fitness are welcome</li>
                <li>4. Flexibility is not required, you'll get it</li>
                <li>5. No bookings needed, just drop in</li>
              </ul>
            </div>
            <div class="col-md-6">  
              <ul class="list-unstyled home-tips">
                <li>6. Arrive 20 minutes before your class</li>
                <li>7. Stay in class for the full 90 minutes</li>
                <li>8. Avoid eating 2 – 3 hours before class</li>
                <li>9. Drink enough water before your class</li>
                <li>10. You can rent towels and mats from us</li>
              </ul>
            </div>
          </div>
      </section>
      <section class="container page-section">
          <div class="row">
            <div class="col-md-12">  
                <h2 class="section-title">Our Teachers</h2>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/teacher-pebetsi.jpg" />
                        <p>Pebetsi</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/teacher-pebetsi.jpg" />
                        <p>Pebetsi</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/teacher-pebetsi.jpg" />
                        <p>Pebetsi</p>
                    </div>
                </div> 
                <ul class="list-inline" style="text-align:center;">
                <li>
                </li>
                <li>
                  <img src="/img/teacher-bridget.jpg" />
                  <p>Bridget</p>
                </li>
                <li>
                  <img src="/img/teacher-leslie.jpg" />
                  <p>Leslie</p>
                </li>
                <li>
                  <img src="/img/teacher-marah.jpg" />
                  <p>Marah</p>
                </li>
                <li>
                  <img src="/img/teacher-neil.jpg" />
                  <p>Neil</p>
                </li>
                <li>
                  <img src="/img/teacher-shereeze.jpg" />
                  <p>Shereeze</p>
                </li>
              </ul>
            </div>
          </div>
      </section>
      <section class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">  
              <h2 class="section-title">The Studio</h2>
              <div id="studio-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#studio-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#studio-carousel" data-slide-to="1" class=""></li>
                  <li data-target="#studio-carousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="/img/home-carousel-1.png">
                    <div class="container">
                      <div class="carousel-caption">
                        <h1>The Studio</h1>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="/img/home-carousel-2.png">
                    <div class="container">
                      <div class="carousel-caption">
                        <h1>The Studio</h1>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="/img/home-carousel-3.png">
                    <div class="container">
                      <div class="carousel-caption">
                        <h1>The Studio</h1>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#studio-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#studio-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
            </div>
          </div>
      </section>

{% endblock %}