{% extends "layout.html" %}
{% block content %}
      <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="page-title">Packages &amp; Pricing</h1>
              <h2 class="page-subtitle">
                  Practice 3 times a week to maintain<br>
                  Practice 5 times a week to become a goddess
              </h2>
              </div>
          </div>
      </div>

        <section id="pricing-table" class="container page-section">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tr class="top-row">
                            <td rowspan="2" class="header">
                                Rentals
                            </td>
                            <td>
                                Yoga Mat
                            </td>
                            <td class="table-notes">
                                Per class
                            </td>
                            <td class="table-price">
                                R 10
                            </td>
                        </tr>
                        <tr class="top-row">
                            <td>
                                Towel
                            </td>
                            <td class="table-notes">
                                Per class
                            </td>
                            <td class="table-price">
                                R 10
                            </td>
                        </tr>
                        <tr class="top-row">
                            <td rowspan="3" class="header">
                                Passes
                            </td>
                            <td>
                                1st Timer
                            </td>
                            <td class="table-notes">
                                10 Consecutive days
                            </td>
                            <td class="table-price">
                                R 250
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1st Timer
                            </td>
                            <td class="table-notes">
                                30 days unlimited
                            </td>
                            <td class="table-price">
                                R 700
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Drop-in
                            </td>
                            <td class="table-notes"></td>
                            <td class="table-price">
                                R 150
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="1" class="header">
                                Class Passes
                            </td>
                            <td>
                                5 Class Pass
                            </td>
                            <td class="table-notes">
                                Valid for 1 month
                            </td>
                            <td class="table-price">
                                R 490
                            </td>
                        </tr>
                        <!-- LIMITED PACKAGES -->
                        <tr>
                            <td  class="header">
                                Limited Packages
                            </td>
                            <td>
                                Weekends only
                            </td>
                            <td class="table-notes">
                                Monthly
                            </td>
                            <td class="table-price">
                                R 480
                            </td>
                        </tr>
                        <!-- UNLIMITED PACKAGES -->
                        <tr>
                            <td rowspan="1" class="header">
                                Unlimited Packages
                            </td>
                            <td>
                                1 Month Unlimited
                            </td>
                            <td class="table-notes">
                            </td>
                            <td class="table-price">
                                R 900
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>
                                3 Month Unlimited
                            </td>
                            <td class="table-notes">
                            </td>
                            <td class="table-price">
                                R 2210
                            </td>
                        </tr> -->
                        <!-- <tr>
                            <td>
                                4 Months Unlimited
                            </td>
                            <td class="table-notes">
                                Special payment. <br />T&amp;C Apply
                            </td>
                            <td class="table-price">
                                R 750
                            </td>
                        </tr> -->
                        <!-- PENSIONERS & STUDENTS -->
                        <tr>
                            <td rowspan="3" class="header">
                                Pensioners &amp; Students
                            </td>
                            <td>
                                Drop-in
                            </td>
                            <td class="table-notes">
                            </td>
                            <td class="table-price">
                                R 110
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1 Month Unlimited
                            </td>
                            <td class="table-notes">
                            </td>
                            <td class="table-price">
                                R 800
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
{% endblock %}
