{% extends "layout.html" %}
{% block content %}
      <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="page-title">Packages &amp; Pricing</h1>
              <h2 class="page-subtitle">
                  Practice 3 times a week to maintain<br>
                  Practice 5 times a week to become a goddess
              </h2>
              </div>
          </div>
      </div>

        <section id="pricing-table" class="container page-section">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tr class="top-row">
                            <td rowspan="2" >
                                &nbsp;
                            </td>
                            <td>
                                Call us on <strong><a href="tel://0713948408">071 394 8408</a> for pricing details.</strong>
                            </td>
                            <td class="table-notes">
                                &nbsp;
                            </td>
                        </tr>
                    
                    </table>
                </div>
            </div>
        </section>
{% endblock %}
