{% extends "layout.html" %}
{% block content %}
      <div class="container">
          <div class="row">
            <div class="col-md-12">  
              <h1 class="page-title">Packages &amp; Pricing</h1>
              <h2 class="page-subtitle">
                  Practice 3 times a week to maintain<br>
                  Practice 5 times a week to become a goddess
              </h2>
              </div>
          </div>
      </div>

        <section id="pricing-table" class="container page-section">
            <div class="row">
                <div class="col-sm-12">   
                    <table class="table">
                        <tr class="top-row">
                            <td rowspan="2" class="header">
                                Rentals
                            </td>
                            <td>
                                Yoga Mat
                            </td>
                            <td class="table-notes">
                                Per class
                            </td>
                            <td class="table-price">
                                R 10
                            </td>
                        </tr>
                        <tr class="top-row">
                            <td>
                                Towel
                            </td>
                            <td class="table-notes">
                                Per class
                            </td>
                            <td class="table-price">
                                R 10
                            </td>
                        </tr>
                        <tr class="top-row">
                            <td rowspan="3" class="header">
                                1st Time Specials
                            </td>
                            <td>
                                1st Timer
                            </td>
                            <td class="table-notes">
                                10 Consecutive days
                            </td>
                            <td class="table-price">
                                R 220
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1st Timer
                            </td>
                            <td class="table-notes">
                                30 days unlimited
                            </td>
                            <td class="table-price">
                                R 650
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1st Drop-in
                            </td>
                            <td class="table-notes"></td>
                            <td class="table-price">
                                R 150
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="header">
                                Class Passes
                            </td>
                            <td>
                                5 Class Pass
                            </td>
                            <td class="table-notes">
                                Valid for 2 months
                            </td>
                            <td class="table-price">
                                R 490
                            </td>
                        </tr>
                        <tr>
                            <td>
                                10 Class Pass
                            </td>
                            <td class="table-notes">
                                Valid for 5 months
                            </td>
                            <td class="table-price">
                                R 850
                            </td>
                        </tr>
                        <tr>
                            <td>
                                15 Class Pass
                            </td>
                            <td class="table-notes">
                                Valid for 7 months
                            </td>
                            <td class="table-price">
                                R 1185
                            </td>
                        </tr>
                        <!-- LIMITED PACKAGES -->
                        <tr>
                            <td rowspan="2" class="header">
                                Limited Packages
                            </td>
                            <td>
                                3 Days a week
                            </td>
                            <td class="table-notes">
                            </td>
                            <td class="table-price">
                                R 720
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Weekends only
                            </td>
                            <td class="table-notes">
                            </td>
                            <td class="table-price">
                                R 480
                            </td>
                        </tr>
                        <!-- UNLIMITED PACKAGES -->
                        <tr>
                            <td rowspan="3" class="header">
                                Unlimited Packages
                            </td>
                            <td>
                                1 Month Unlimited
                            </td>
                            <td class="table-notes">
                            </td>
                            <td class="table-price">
                                R 880
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1 Month Off-Peak
                            </td>
                            <td class="table-notes">
                                 (05:30 &amp; 12:00 weekdays)
                            </td>
                            <td class="table-price">
                                R 550
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3 Month Unlimited
                            </td>
                            <td class="table-notes">
                            </td>
                            <td class="table-price">
                                R 2210
                            </td>
                        </tr>
                        <!-- PENSIONERS & STUDENTS -->
                        <tr>
                            <td rowspan="3" class="header">
                                Pensioners &amp; Students
                            </td>
                            <td>
                                Drop-in
                            </td>
                            <td class="table-notes">
                            </td>
                            <td class="table-price">
                                R 110
                            </td>
                        </tr>
                        <tr>
                            <td>
                                10 Class Pass
                            </td>
                            <td class="table-notes">
                                Valid 5 months
                            </td>
                            <td class="table-price">
                                R 110
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1 Month Unlimited
                            </td>
                            <td class="table-notes">
                            </td>
                            <td class="table-price">
                                R 795
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
{% endblock %}